<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Официальный NuGet -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    
    <add key="multifactor-nuget-registry" value="https://son.multifactor.dev:5443/repository/multifactor-nuget/index.json" protocolVersion="3" />
  </packageSources>
</configuration>