<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="radius-shared-secret" value="000"/>
        <add key="radius-client-nas-identifier" value="e2e"/>
        <add key="active-directory-domain" value="domain.md"/>
        <add key="service-account-user" value="user"/>
        <add key="service-account-password" value="password/"/>
        <add key="bypass-second-factor-when-api-unreachable" value="true"/>
        <add key="first-factor-authentication-source" value="ActiveDirectory"/>
        <add key="multifactor-nas-identifier" value="nas-identifier"/>
        <add key="multifactor-shared-secret" value="shared-secret"/>
    </appSettings>
</configuration>