<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="adapter-server-endpoint" value="0.0.0.0:1812" />
        <add key="multifactor-api-url" value="https://api.multifactor.ru" />
        <add key="logging-level" value="Debug" />
        
        <add key="radius-shared-secret" value="000"/>
        <add key="radius-client-nas-identifier" value="e2e"/>
        
        <add key="bypass-second-factor-when-api-unreachable" value="true"/>
        
        <add key="multifactor-nas-identifier" value="nas-identifier"/>
        <add key="multifactor-shared-secret" value="shared-secret"/>
    </appSettings>
</configuration>