<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="adapter-server-endpoint" value="0.0.0.0:1812" />
        <add key="multifactor-api-url" value="https://api.multifactor.ru" />
        <add key="logging-level" value="Debug" />
        <add key="radius-shared-secret" value="000" />
        <add key="first-factor-authentication-source" value="None" />
        <add key="multifactor-nas-identifier" value="e2e"/>
        <add key="multifactor-shared-secret" value="000"/>

        <add key="bypass-second-factor-when-api-unreachable" value="false"/>

        <add key="active-directory-2fa-bypass-group" value="E2E"/>

        <add key="active-directory-domain" value=""/>

        <add key="service-account-user" value="e2eAdmin"/>
        <add key="service-account-password" value="Qwerty123!"/>
    </appSettings>
</configuration>