<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<appSettings>
		<add key="adapter-server-endpoint" value="0.0.0.0:1812" />
		<add key="multifactor-api-url" value="https://api34.multifactor.ru" />
		<!-- cisco asa ip -->
		<add key="radius-client-ip" value="192.168.67.247;192.168.68.162"/>
		<!-- shared secret between this service and cisco -->
		<add key="radius-shared-secret" value="123"/>
		<add key="bypass-second-factor-when-api-unreachable" value="true"/>

		<!--One of: ldap, radius, none-->
		<add key="first-factor-authentication-source" value="ldap" />
		<!-- get it from multifactor management panel -->
		<add key="multifactor-nas-identifier" value="rs_650a77f9a557bbd551b65ff0bf0ab"/>
		<!-- get it from multifactor management panel -->
		<add key="multifactor-shared-secret" value="a971ec99423e22081fa92a7544d4cee5" />
		<add key="nps-server-endpoint" value="192.168.0.10:1812; 193.168.0.10:1812"/>
	</appSettings>

	<ldapServers>
		<!--LDAP server settings-->
		<ldapServer
            connection-string="ldaps://trust-a.domainwin.ru"
            username="CN=Administrator,CN=Users,DC=trust-a,DC=domainwin,DC=ru"
            password="Qwerty123!"
			requires-upn="true"
			enable-trusted-domains="true"
			identity-attribute="sAMAccountName"
            access-groups="CN=group2,OU=LabUsers,DC=trust-a,DC=domainwin,DC=ru;CN=TB Office,OU=LabUsers,DC=trust-b,DC=domainwin,DC=ru"
			enable-alternative-suffixes="true"
 />
	</ldapServers>

</configuration>