<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <appSettings>
        <add key="adapter-server-endpoint" value="127.0.0.1:5654" />
        <!--<add key="radius-client-ip" value="radius-client-ip"/>-->
        <!--<add key="authentication-cache-lifetime" value="authentication-cache-lifetime"/>-->
        <!--<add key="authentication-cache-minimal-matching" value="true"/>-->
        <!--<add key="invalid-credential-delay" value="invalid-credential-delay"/>-->
        <!--<add key="calling-station-id-attribute" value="calling-station-id-attribute"/>-->
        <add key="multifactor-api-url" value="multifactor-api-url" />
        <!--<add key="multifactor-api-proxy" value="multifactor-api-proxy"/>-->
        <!--<add key="multifactor-api-timeout" value="multifactor-api-timeout"/>-->
        <!--<add key="sign-up-groups" value="sign-up-groups"/>-->
        <!--<add key="bypass-second-factor-when-api-unreachable" value="true"/>-->
        <add key="logging-level" value="Debug"/>
        <!--<add key="logging-format" value="logging-format"/>-->
        <!--<add key="console-log-output-template" value="console-log-output-template"/>-->
        <!--<add key="file-log-output-template" value="file-log-output-template"/>-->
    </appSettings>

</configuration>