<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <appSettings>
        <!--this service radius server endpoint (0.0.0.0 - listen all interfaces) -->
        <add key="adapter-server-endpoint" value="0.0.0.0:1812" />

        <!--Multifactor API -->
        <add key="multifactor-api-url" value="https://api.multifactor.dev" />
        <!--<add key="multifactor-api-timeout" value="00:01:05"/>-->
        <add key="bypass-second-factor-when-api-unreachable" value="true"/>
        
        <!--HTTP proxy for API (optional)-->
        <!--<add key="multifactor-api-proxy" value="http://proxy:3128"/>-->
        
        <!-- minimal log level: 'Debug', 'Info', 'Warn', 'Error' -->
        <add key="logging-level" value="Info" />
        <!--<add key="logging-format" value="json"/>-->
        
        
        <add key="adapter-client-endpoint" value="0.0.0.0:1812" />
        <add key="nps-server-endpoint" value="0.0.0.0:1812" />
        <add key="radius-client-ip" value="192.168.65.1"/> - 
        <!-- shared secret between this service and cisco -->
        <add key="radius-shared-secret" value="123456789"/>
	
        <!--One of: ldap, radius, none-->
        <add key="first-factor-authentication-source" value="none" />

        <!-- get it from multifactor management panel -->
        <add key="multifactor-nas-identifier" value="rs_50b97bfa478d4d2eca62257793c3c"/> 
        <!-- get it from multifactor management panel -->
        <add key="multifactor-shared-secret" value="14b0a40e7a6e3b34f6aa10dd66294965" />

        
        <!-- Syslog server -->
        <!-- <add key="syslog-server" value="udp://syslog-server:514"/> -->
        <!-- Syslog format: RFC3164 or RFC5424 -->
        <!-- <add key="syslog-format" value="RFC5424"/> -->
        <!-- <add key="syslog-facility" value="Auth"/> -->
        <!-- <add key="syslog-app-name" value="multifactor-radius"/> -->
        <!-- <add key="syslog-use-tls" value="false" /> -->
        <!-- <add key="syslog-output-template" value="" /> -->
    </appSettings>
    <!-- <ldapServers> -->
    <!--     ~1~LDAP server settings@1@ -->
    <!--     <ldapServer -->
    <!--         connection-string="ldap://172.16.12.20" -->
    <!--         username="CN=Alexander Kotikov,DC=domain1,DC=md" -->
    <!--         password="1024-old"               -->
    <!--     /> -->
    <!-- </ldapServers> -->

</configuration>