<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--this service radius server endpoint (0.0.0.0 - listen all interfaces) -->
    <add key="adapter-server-endpoint" value="0.0.0.0:1812"/>

    <!--Multifactor API -->
    <add key="multifactor-api-url" value="https://api.multifactor.ru"/>
    <add key="multifactor-api-timeout" value="00:00:65"/>

    <!--HTTP proxy for API (optional)-->
    <!--<add key="multifactor-api-proxy" value="http://proxy:3128"/>-->

    <!-- minimal log level: 'Debug', 'Info', 'Warn', 'Error' -->
    <add key="logging-level" value="Debug"/>
    <!--<add key="logging-format" value="json"/>-->
  </appSettings>
</configuration>