<?xml version="1.0" encoding="utf-8"?>
<configuration>
        
    <appSettings>
        <add key="first-factor-authentication-source" value="first-factor-authentication-source"/>
        <add key="radius-shared-secret" value="radius-shared-secret"/>
        <add key="multifactor-nas-identifier" value="multifactor-nas-identifier"/>
        <add key="multifactor-shared-secret" value="multifactor-shared-secret"/>
        <add key="adapter-client-endpoint" value="adapter-client-endpoint"/>
        <add key="adapter-server-endpoint" value="adapter-server-endpoint"/>
        <add key="nps-server-endpoint" value="nps-server-endpoint"/>
        <add key="radius-client-ip" value="radius-client-ip"/>
        <add key="radius-client-nas-identifier" value="radius-client-nas-identifier"/>
        <add key="privacy-mode" value="privacy-mode"/>
        <add key="pre-authentication-method" value="pre-authentication-method"/>
        <add key="authentication-cache-lifetime" value="authentication-cache-lifetime"/>
        <add key="authentication-cache-minimal-matching" value="true"/>
        <add key="invalid-credential-delay" value="invalid-credential-delay"/>
        <add key="calling-station-id-attribute" value="calling-station-id-attribute"/>

        <add key="multifactor-api-url" value="multifactor-api-url"/>
        <add key="multifactor-api-proxy" value="multifactor-api-proxy"/>
        <add key="multifactor-api-timeout" value="multifactor-api-timeout"/>
        <add key="sign-up-groups" value="sign-up-groups"/>
        <add key="bypass-second-factor-when-api-unreachable" value="true"/>

        <add key="logging-level" value="logging-level"/>
        <add key="logging-format" value="logging-format"/>
        <add key="console-log-output-template" value="console-log-output-template"/>
        <add key="file-log-output-template" value="file-log-output-template"/>
    </appSettings>

    <ldapServers>
        <ldapServer
                connection-string="connection-string"
                username="username"
                password="password"
                bind-timeout-in-seconds="10"
                access-groups="access-groups"
                second-fa-groups="2fa-groups"
                second-fa-bypass-groups="2fa-bypass-groups"
                load-nested-groups="true"
                nested-groups-base-dn="nested-groups-base-dn"
                phone-attributes="phone-attributes"
                use-attributes-as-identity="attributes-as-identity"
        />
        <ldapServer
                connection-string="connection-string"
                username="username"
                password="password"
                bind-timeout-in-seconds="10"
                access-groups="access-groups"
                second-fa-groups="2fa-groups"
                second-fa-bypass-groups="2fa-bypass-groups"
                load-nested-groups="false"
                nested-groups-base-dn="nested-groups-base-dn"
                phone-attributes="phone-attributes"
                use-attributes-as-identity="attributes-as-identity"
        />
    </ldapServers>

    <RadiusReply>
        <Attributes>
            <add name="Fortinet-Group-Name" value="Users" when="UserGroup=VPN Users" sufficient="true" from="from" />
            <add name="Fortinet-Group-Name" value="Admins" when="UserGroup=VPN Admins" from="from"/>
        </Attributes>
    </RadiusReply>

    <UserNameTransformRules>
        <add match="^([^@]*)$" replace="$1@domain.local" count="3" />
        <add match="^([^@]*)$" replace="$1@domain.local" />
    </UserNameTransformRules>
    
</configuration>