<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="multifactor-api-url" value="https://api.multifactor.dev"/>
		<add key="multifactor-api-proxy" value="http://proxy.domain.ru" />
		<add key="multifactor-api-timeout" value="30" />
		<add key="multifactor-nas-identifier" value="windows" />
		<add key="multifactor-shared-secret" value="secret" />
		<add key="sign-up-groups" value="group1;group2" />
		<add key="bypass-second-factor-when-api-unreachable" value="true" />

		<add key="first-factor-authentication-source" value="ActiveDirectory" />

		<add key="active-directory-domain" value="domain.local" />
		<add key="active-directory-2fa-bypass-group" value="BypassGroup" />
		<add key="active-directory-2fa-group" value="2faGroup" />
		<add key="active-directory-group" value="AdGroup" />
		<add key="ldap-bind-dn" value="cn=users" />
		<add key="load-active-directory-nested-groups" value="true" />
		<add key="phone-attribute" value="mobilephone" />
		<add key="use-active-directory-mobile-user-phone" value="true" />
		<add key="use-active-directory-user-phone" value="true" />
		<add key="use-upn-as-identity" value="true" />
		<add key="use-attribute-as-identity" value="attr" />
		<add key="service-account-password" value="pwd" />
		<add key="service-account-user" value="usr" />
		
		<add key="adapter-client-endpoint" value="10.10.10.10" />
		<add key="adapter-server-endpoint" value="0.0.0.0:1812"/>
		<add key="nps-server-endpoint" value="156.120.120.4" />
		<add key="radius-client-ip" value="10.10.10.2" />
		<add key="radius-client-nas-identifier" value="cli-nas" />
		<add key="radius-shared-secret" value="888" />

		<add key="logging-format" value="json" />
		<add key="logging-level" value="Debug"/>
		<add key="calling-station-id-attribute" value="csid" />
		<add key="console-log-output-template" value="consoletempl" />
		<add key="file-log-output-template" value="filetempl" />
		<add key="invalid-credential-delay" value="15" />

		<add key="privacy-mode" value="Full" />
		<add key="pre-authentication-method" value="otp" />
		<add key="authentication-cache-lifetime" value="10" />
		<add key="authentication-cache-minimal-matching" value="false" />
	</appSettings>
</configuration>