<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="radius-client-nas-identifier" value="windows"/>
		<add key="radius-shared-secret" value="000"/>
		<add key="first-factor-authentication-source" value="None"/>
		<add key="multifactor-nas-identifier" value="key"/>
		<add key="multifactor-shared-secret" value="secret"/>	
		<add key="use-upn-as-identity" value="false"/>
		<add key="use-attribute-as-identity" value="attr"/>	
	</appSettings>
</configuration>