<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="RadiusReply" type="MultiFactor.Radius.Adapter.RadiusReplyAttributesSection, multifactor-radius-adapter" />
	</configSections>
	
	<appSettings>
		<add key="radius-client-nas-identifier" value="windows"/>
		<add key="radius-shared-secret" value="000"/>
		<add key="first-factor-authentication-source" value="None"/>
		<add key="multifactor-nas-identifier" value="key"/>
		<add key="multifactor-shared-secret" value="secret"/>

		<add key="service-account-user" value="user"/>
		<add key="service-account-password" value="password"/>
	</appSettings>

	<RadiusReply>
		<Attributes>
			<add name="Fortinet-Group-Name" value="Admins" />
		</Attributes>
	</RadiusReply>
	
</configuration>