<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="RadiusReply" type="MultiFactor.Radius.Adapter.RadiusReplyAttributesSection, multifactor-radius-adapter" />
	</configSections>
	
	<appSettings>
		<add key="radius-client-nas-identifier" value="windows"/>
		<add key="radius-shared-secret" value="000"/>
		<add key="first-factor-authentication-source" value="None"/>
		<add key="multifactor-nas-identifier" value="key"/>
		<add key="multifactor-shared-secret" value="secret"/>
	</appSettings>

	<RadiusReply>
		<Attributes>
			<add name="Fortinet-Group-Name" value="Admins" when="UserGroup=VPN Admins;888"/>
			<add name="WeRoam-Location-Name" value="Location" when="UserName=user1;user2"/>
		</Attributes>
	</RadiusReply>
	
</configuration>