<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="radius-shared-secret" value="000"/>
		<add key="first-factor-authentication-source" value="None"/>
		<add key="multifactor-nas-identifier" value="key"/>
		<add key="multifactor-shared-secret" value="secret"/>
		<add key="radius-client-ip" value="10.10.10.10;11.11.11.11" />
	</appSettings>
</configuration>