<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="RadiusReply" type="MultiFactor.Radius.Adapter.RadiusReplyAttributesSection, multifactor-radius-adapter" />
	</configSections>
	
	<appSettings>
		<add key="radius-client-nas-identifier" value="windows"/>
		<add key="radius-shared-secret" value="000"/>
		<add key="first-factor-authentication-source" value="Radius"/>
		<add key="adapter-client-endpoint" value="0.0.0.0"/>
		<add key="nps-server-endpoint" value="127.0.0.1"/>
		<add key="multifactor-nas-identifier" value="key"/>
		<add key="multifactor-shared-secret" value="secret"/>
	</appSettings>

	<RadiusReply>
		<Attributes>
			<add name="Fortinet-Group-Name" value="Admins" when="UserGroup=VPN Admins" sufficient="true" />
		</Attributes>
	</RadiusReply>
	
</configuration>