<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="radius-client-nas-identifier" value="windows"/>
    <add key="radius-shared-secret" value="000"/>
    <add key="first-factor-authentication-source" value="None"/>
    <add key="active-directory-domain" value="domain.local"/>
    <add key="multifactor-nas-identifier" value="key"/>
    <add key="multifactor-shared-secret" value="secret"/>	
	<add key="service-account-user" value="service.user"/>
	<add key="service-account-password" value="service.user.password"/>
  </appSettings>
</configuration>